---
layout: default
---
{% include header.html %}
<nav id="cd-vertical-nav">
	<ul id="dots">
		<li><a href="#section1" data-number="1">
			<span class="cd-label">Intro</span>
			<span class="cd-dot"></span>
		</a></li>
		<li><a href="#section2" data-number="2">
			<span class="cd-label">Background</span>
			<span class="cd-dot"></span>
		</a></li>
		<li><a href="#section3" data-number="3">
			<span class="cd-label">Birth</span>
			<span class="cd-dot"></span>
		</a></li>
		<li><a href="#section4" data-number="4">
			<span class="cd-label">The Big Four</span>
			<span class="cd-dot"></span>
		</a></li>
	</ul>
</nav>
<section id="section1" class="cd-section">
	<p class="section-center">In 1879, Mexico justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.<br><br>Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
</section>
<section id="section2" class="cd-section">
	{% include background-diaz.html %}
</section>
<section id="section3" class="cd-section">
		<p class="section-center">“Men of the South! It is better to die on your feet than to live on your knees!”</p>
</section>
<section id="section4" class="cd-section">
	{% include big_four.html %}
</section>
