---
layout: default
---
<section id="mobile-warning">
	<p id="mobile-warning-text" class="section-center">This website is not optimized for mobile. Use a computer for a better viewing experience.</p>
</section>
{% include header.html %}
<!-- {% include nav.html %} -->
<section id="section1" class="cd-section">
	{% include intro.html %}
</section>
<section id="section2" class="cd-section">
	{% include background_diaz.html %}
</section>
<section id="section3" class="cd-section">
	{% include timeline.html %}
</section>
<section id="section4" class="cd-section">
	{% include spark.html %}
</section>
<!-- necessary for sticky map. replace with something else if needed. -->
<section id="section5" class="cd-section">
	{% include plan_de_ayala.html %}
</section>
<section id="section6" class="cd-section">
    {% include network.html %}
</section>
<section id="section7" class="cd-section">
    {% include popular.html %}
</section>
<section id="section8" class="cd-section">
    {% include huerta.html %}
</section>
<section id="section9" class="cd-section">
    {% include civil_war.html %}
</section>
<section id="section10" class="cd-section">
    {% include death.html %}
</section>
<section id="section11" class="cd-section">
    {% include legacy.html %}
</section>
