<h1 class="section-header" id="section2-header">background</h1>
<div id="diaz-container">
	<div id="diaz-img-container">
		<img src="/assets/images/diaz.jpg" id="diaz-img">
		<div id="diaz-rect"></div>
		<p id="diaz-img-name">PORFIRIO DIAZ</p>
		<p id="diaz-img-date">1830 -1915</p>
	</div>
	<p class="white-bg-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.<br><br>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<a href="#section2">
	<div class="diaz-reason">
		<div>
			<p class="diaz-reason-title1">one</p>
			<p class="diaz-reason-title2">corruption</p>
		</div>
		<p class="white-bg-text diaz-reason-text">Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
	</div>
</a>
<div class="diaz-reason" id="diaz-reason-2">
	<div>
		<p class="diaz-reason-title1">two</p>
		<p class="diaz-reason-title2" id="diaz-reason-title2-2">stolen land</p>
	</div>
	<p class="white-bg-text diaz-reason-text" id="diaz-reason-text-2">Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
</div>
<div class="diaz-reason">
	<div>
		<p class="diaz-reason-title1">three</p>
		<p class="diaz-reason-title2">work conditions</p>
	</div>
	<p class="white-bg-text diaz-reason-text">Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
</div>