<h1 class="section-header" id="section2-header">background</h1>
<div id="diaz-container">
	<div id="diaz-img-container">
		<img src="/assets/images/diaz.jpg" id="diaz-img">
		<p id="diaz-img-name">Porfirio Díaz</p>
		<p id="diaz-img-date">1830 -1915</p>
	</div>
	<p class="white-bg-text" id="diaz-desc-text" data-aos="fade-left" data-aos-duration="1000">Díaz assumed power in a 1876 coup and would hold the presidency twice over thirty years, a period known as the Porfiriato. He promoted a message of modernization through his slogan, “Order, Liberty, and Progress”, but the economic benefits of industrialization went almost exclusively toward foreign members of national and regional oligarchies, rich landowners, and foreign capital, while the rural poor suffered.</p>
</div>
<div id="diaz-reasons">
	<div class="diaz-reason">
		<div data-aos="fade-right" data-aos-duration="1000">
			<p class="title1">one</p>
			<p class="title2">corruption</p>
		</div>
		<p class="white-bg-text diaz-reason-text" data-aos="fade-left" data-aos-duration="1000"> Díaz repeatedly violated the principles of the constitution of 1857, courting foreign interests, jailing political opponents, restricting civil liberties, repressing labor movements, and censoring the press. Though he held elections to have a semblance of democracy, in reality the elections only installed candidates who were favorable to himself.</p>
	</div>
	<div class="diaz-reason" id="diaz-reason-2">
		<div data-aos="fade-left" data-aos-duration="1000">
			<p class="title1">two</p>
			<p class="title2" id="diaz-reason-title2-2">stolen land</p>
		</div>
		<p class="white-bg-text diaz-reason-text" id="diaz-reason-text-2" data-aos="fade-right" data-aos-duration="1000">Under Díaz, Mexico built over 25,000 miles of railroad, spurring a land grab in rural areas as well as limiting access to plains and marshes which villagers had traditionally relied on for fish and game. Encouraged by Díaz, Mexico’s wealthy came to own 85% of the land, most of which had been stolen from villagers.</p>
	</div>
	<div class="diaz-reason">
		<div data-aos="fade-right" data-aos-duration="1000">
			<p class="title1">three</p>
			<p class="title2">work conditions</p>
		</div>
		<p class="white-bg-text diaz-reason-text" data-aos="fade-left" data-aos-duration="1000"> Laborers worked twelve hour shifts, seven days of the week. They received no pension or compensation or accidents occurring on the job, and their few civil rights were generally neglected. Most would return home to unsanitary housing and inadequate diets. The average life expectancy in this period was 30 years, while the infant mortality rate was 30%.</p>
	</div>
</div>

