<h1 class="section-header" id="section2-header">background</h1>
<div id="diaz-container">
	<div id="diaz-img-container" data-aos="fade-right" data-aos-duration="1000">
		<img src="/assets/images/diaz.jpg" id="diaz-img">
		<p id="diaz-img-name">PORFIRIO DIAZ</p>
		<p id="diaz-img-date">1830 -1915</p>
	</div>
	<p class="white-bg-text" data-aos="fade-left" data-aos-duration="1000">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.<br><br>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
<div id="diaz-reasons">
	<div class="diaz-reason" data-aos="fade-right" data-aos-duration="1000">
		<div>
			<p class="diaz-reason-title1">one</p>
			<p class="diaz-reason-title2">corruption</p>
		</div>
		<p class="white-bg-text diaz-reason-text">Díaz ran local elections to give the semblance of democracy; however, his close confidants and associates were given offices in districts throughout Mexico. These officials became enforcers of changes in land tenure that favored the concentration of land progressively into the hands of fewer and wealthier landowners.</p>
	</div>
	<div class="diaz-reason" id="diaz-reason-2" data-aos="fade-left" data-aos-duration="1500">
		<div>
			<p class="diaz-reason-title1">two</p>
			<p class="diaz-reason-title2" id="diaz-reason-title2-2">stolen land</p>
		</div>
		<p class="white-bg-text diaz-reason-text" id="diaz-reason-text-2">The Mexican social and economic system was dominated by large estates (haciendas) controlling much of the land and squeezing the holdings of independent communities. Many peasants were subsequently forced into debt peonage (peonaje) on the haciendas.</p>
	</div>
	<div class="diaz-reason" data-aos="fade-right" data-aos-duration="1500">
		<div>
			<p class="diaz-reason-title1">three</p>
			<p class="diaz-reason-title2">work conditions</p>
		</div>
		<p class="white-bg-text diaz-reason-text">Peasants were forced into taking jobs with long hours and poor working conditions to pay off debt. Peasants had few rights, most of which were neglected.</p>
	</div>
</div>
<div id="anchor2"></div>