<h1 class="section-header" id="bigfour-header">The Big Four</h1>

<div id="card-holder">
	<div class="card" data-aos="fade-up" data-aos-delay="2400" data-aos-duration="1000">
		<img class="card-img-top" src="/assets/images/big4/obregon.jpg" alt="Card image cap">
		<div class="card-body">
			<h2 class="card-title">Álvaro Obregón</h2>
			<p class="card-text">A general in the Mexican Revolution, who became President of Mexico from 1920 to 1924. He supported Sonora's decision to follow Governor of Coahuila Venustiano Carranza as leader of a revolution against the Huerta regime.</p>
		</div>
	</div>
	<div class="card" data-aos="fade-up" data-aos-delay="1600" data-aos-duration="1000" >
		<img class="card-img-top" src="/assets/images/big4/carranza.jpg" alt="Card image cap">
		<div class="card-body">
			<h2 class="card-title">Venustiano Carranza</h2>
			<p class="card-text">A leader in the Mexican civil war following the overthrow of the dictator Porfirio Díaz. Carranza became the first president of the new Mexican republic.</p>
		</div>
	</div>
	<div class="card" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000" >
		<img class="card-img-top" src="/assets/images/big4/villa.jpg" alt="Card image cap">
		<div class="card-body">
			<h2 class="card-title">Francisco Villa</h2>
			<p class="card-text">A Mexican Revolutionary general and one of the most prominent figures of the Mexican Revolution.</p>
		</div>
	</div>
	<div class="card" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
		<img class="card-img-top" src="/assets/images/big4/zapata.jpg" alt="Card image cap">
		<div class="card-body">
			<h2 class="card-title">Emiliano Zapata</h2>
			<p class="card-text">A leading figure in the Mexican Revolution, the main leader of the peasant revolution in the state of Morelos, and the inspiration of the agrarian movement called Zapatismo.</p>
		</div>
	</div>