<div class="timeline-container" id="timeline-2">
	<h1 class="section-header dark-bg-header" id="early-years-header">civil war</h1>
	<div class="timeline">
		<div class="timeline-item timeline-item--active" data-text="NOV. 1914">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<h2 class="timeline__content-subtitle">Mexico City</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Zapata’s force of 24,000 men peacefully occupied Mexico City. Carranza fled to Veracruz, where he negotiated the removal of the U.S. troops.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="DEC. 1914">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/villa_and_zapata.gif" />
					<div class="overlay">
						<div class="overlay-text">zapata meeting with villa</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Xochimilco</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Zapata and Villa met in Xochimilco, where Villa accepted the Plan of Ayala. The two leaders agreed to fight as allies until they put a civilian president in the palace.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="APR. 1915">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/battle_celaya.jpg" />
					<div class="overlay">
						<div class="overlay-text">cavalry near celaya waiting for orders to advance</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Battle of Celaya</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Obregón’s use of European 20th-century-style warfare handed him a decisive victory against Villa’s cavalry.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="NOV. 1915">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img darken-image" src="/assets/images/battle_nogales.jpg" />
					<div class="overlay">
						<div class="overlay-text">battle of nogales</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Second Battle of Nogales</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Villa’s forces fought American forces. 2 hours later, Carrancistas attacked the American forces.
				</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="JAN. 1916">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/villa_wanted.jpg" />
					<div class="overlay">
						<div class="overlay-text">wanted poster offering $5000 for villa's capture</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Santa Ysabel Massacre</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Villa’s supporters attacked a train in Santa Ysabel, Chihuahua, killing 17 Americans. White residents in El Paso responded by attacking Mexicans in a race riot.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="MAR. 1916">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/pershing.jpg" />
					<div class="overlay">
						<div class="overlay-text">Pershing and soldiers</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">punitive expedition</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Villa and his men raided Columbus, NM. In response, General John J. Pershing led 10,000 U.S. soldiers into Mexico in an expedition that failed to capture Villa.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="MAR. 1916">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/battle_carrizal.jpg" />
					<div class="overlay">
						<div class="overlay-text">u.s. soldiers at carrizal</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Battle of Carrizal</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Pershing’s troops fight the Carrancistas.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="1917">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/carranza_president.jpg" />
					<div class="overlay">
						<div class="overlay-text">carranza in the president's chair</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Carranza elected president</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Carranza’s generals defeat Villa and isolate Zapata. Carranza calls for constitutional convention, but does not invite Zapata. The new constitution introduces agrarian reform and unprecedented economic rights for the Mexican people. Carranza is elected president.</p>
			</div>
		</div>
	</div>
</div>
</div>
</div>