<h1 class="section-header white-bg">assassination</h1>
<div class="row-container death-container">
	<div class="image-hover-container death-image-container" data-aos="fade-right" data-aos-duration="1000">
		<img class="image-hover-img death-image" src="/assets/images/zapata_death.jpg">
		<div class="overlay">
			<div class="overlay-text" id="zapata-overlay-text">Zapata in his dying moments</div>
		</div>
	</div>
	<p class="normal-p white-bg row-container-text" data-aos="fade-left" data-aos-duration="1000">Now president, Carranza decided Zapata was too large a threat to ignore. In 1919, Colonel Jesus Guajardo, a Carrancista, asked to meet with Zapata in Chinameca on the pretense of switching sides. To gain credibility with Zapata, Guajardo staged a rout against other federal forces, sacrificing whole slews of men in a mock battle.<br><br>On April 10, the day Guajardo and Zapata were to meet, Zapata was ambushed and shot to death by Carrancistas. His last moments were captured in an iconic photograph of him surrounded by his Zapatistas.</p>
</div>
<p></p>
<div class="centered-text-container corridos-text-container">
	<p class="normal-p white-bg" data-aos="fade-up" data-aos-duration="1000">Two traditional mexican ballads, known as <i>corridos</i>, portray conflicting views about Zapata’s death.</p>
</div>
<div class="row-container corridos-container" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
	<div class="corridos-container2 corridos-left">
		<p class="title2">"Recuerdo"</p>
		<p class="quote corridos">
			Little star in the night<br>
			that rides the sky like a witch<br>
			where is our chief Zapata<br>
			who was the scourge of the rich?<br>
			<br>
			Little flower of the fields<br>
			and valleys of Morelos,<br>
			if they ask for Zapata,<br>
			say he's gone to try on halos.<br>
			<br>
		</p>
	</div>
	<div class="corridos-container2 corridos-right" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
		<p class="title2">(title unknown)</p>
		<p class="quote corridos">
			Finally they buried his body<br>
			filled with joy and pleasure<br>
			and many, so many weeped<br>
			for his sins and for his peace.<br>
			<br>
			But his soul perseveres<br>
			in his ideal of "Liberator"<br>
			and his fearsome skull <br>
			wanders in grief... oh terror!<br>
		</p>
	</div>
</div>