<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="bower_components/aos/dist/aos.js"></script>
<script src="/assets/js/sticky-kit.min.js"></script>
<script src="/assets/js/vis.min.js"></script>
<script src="/assets/js/modernizr.js"></script> <!-- Modernizr -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.0.0/rellax.min.js"></script>

<!-- <script src="js/jquery-2.1.1.js"></script> -->
<script src="/assets/js/main.js"></script> <!-- Resource jQuery -->

<script>
	AOS.init({
        disable: window.innerWidth < 992
    });
</script>


