<h1 class="section-header" id="key-players-header">Key Players</h1>
<div class="row-container" id="network-container">
    <div id="zapata-network"></div>
    <div id="hover-and-profile">
        <p id="hover-to-see">Hover over a person to find out who they were and their relationship to Zapata.</p>
        <div id="profile-container">
            <div id="profile-img-container">
                <img id="profile-img">
                <p id="profile-name"></p>
                <p id="profile-birthdeath"></p>
                <p id="profile-relationship-text"></p>
            </div>
            <div id="profile-text-container">
                <p class="white-bg-text profile-text" id="profile-desc">
                    Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
                </p>
                <p class="white-bg-text profile-text" id="profile-relationship-desc">Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../assets/js/network.js"></script>
</div>