<h1 class="section-header dark-bg">legacy</h1>
<div id="card-holder">
	<div class="col col1">
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image darken-image" src="/assets/images/rivera_painting.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text"><i>Emiliano Zapata and His Horse</i>, 1932</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">Paintings</h2>
				<p class="normal-p dark-bg-text card-text">Diego Rivera’s painting of Emiliano Zapata on his horse immortalized Zapata as a martyr who sacrificed to help Mexico’s poor. His painting was key in transforming Zapata’s public image from a violent revolutionary into a hero who used force only when necessary.</p>
			</div>
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image" src="/assets/images/orozco_painting.jpg" alt="Card image cap" id="orozco-painting">
				<div class="overlay">
					<div class="overlay-text"><i>Zapata</i>, 1930</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<p class="normal-p dark-bg-text card-text card-text-no-title">José Clemente Orozco’s painting of Zapata appearing in the doorway of a peasant hut depicted Zapata as a brave rebel, willing to put himself in front of bullets, daggers, and swords in his fight for agrarian reform.</p>
			</div>
		</div>
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image darken-image" src="/assets/images/ezln_2.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">ezln</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">EZLN</h2>
				<p class="normal-p dark-bg-text card-text">On January 1st, 1994, the day NAFTA went into effect, a rebel group calling itself the <i>Ejército Zapatista de Liberación Nacional</i> (EZLN) attacked four towns in Chiapas. The EZLN describe themselves as modern day Zapatistas, fighting against economic policies which they believe adversely affect Mexico’s indigenous population, such as NAFTA. As of 2018, the Zapatistas number in the 300,000s, and like the original Zapatistas, a large percentage of their forces are women. </p>
			</div>
		</div>
	</div>
	<div class="col col2">
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image darken-image" src="/assets/images/constitution_1917.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">constitution of 1917</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">Article 27</h2>
				<p class="normal-p dark-bg-text card-text">Zapata’s movement was key in the creation of Article 27 of the 1917 Constitution, which declared all land, water and mineral rights to be the property of the people of Mexico. It gave the Mexican government the ability and mandate to redistribute land from large plantations to eligible agrarian communities. By 1988, over three million households were living in more than 28,000 ejidos (rural communities).</p>
			</div>
		</div>
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image darken-image" src="/assets/images/zapata_movie.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text"><i>viva zapata!</i></div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">Movies</h2>
				<p class="normal-p dark-bg-text card-text">Zapata inspired the 1952 film <i>Viva Zapata!</i> starring Marlon Brando, with a screenplay by John Steinbeck. Zapata’s life has been made into two other notable biopics: <i>Emiliano Zapata</i>, a 1970 drama film starring Antonio Aguilar and directed by Felipe Cazals, and <i>Zapata: El sueño del héroe</i>, a 2004 motion picture starring Alejandro Fernández and directed by Alfonso Arau. The latter was reportedly the most expensive Mexican movie ever produced.</p>
			</div>
		</div>
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image darken-image" src="/assets/images/ezln.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">modern zapatistas</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-container footer-container">

	<p class="normal-p dark-bg" id="footer-copyright">Website by Olivia Chang.</p>

	<div class="footer-links-container">
		<a href="bib" class="footer-link" id="bib-button"><span class="underline">bibliography</span></a>
		<a href="https://oliviachang.me" class="footer-link"><span class="underline">creator</span></a>
		<a href="mailto:hello@oliviachang.me" class="footer-link"><span class="underline">contact</span></a>
	</div>

</div>