<div class="row-container" id="">
	
	
</div>

<div class="row-container" id="spark-last-container">
	<div class="image-hover-container" id="madero-newspaper-container" data-aos="fade-right" data-aos-duration="1000">
		<img class="image-hover-img" src="/assets/images/madero_newspaper.png" id="spark-img">
		<div class="overlay" id="madero-overlay">
			<div class="overlay-text" id="madero-newspaper-overlay-text">Newspaper announcing Madero's arrival in Mexico City</div>
		</div>
	</div>
	<div id="spark-last-text-container">
		<div class="title-container spark-title-container">
			<p class="title1 spark-title1">win?</p>
			<p class="title2 spark-title2">Madero Elected President</p>
		</div>
		<div>
			<p class="normal-p white-bg white-bg-text spark-desc-text">Between May and November, an interim government was established under Francisco León de la Barra, a former diplomat. On November 6th, Madero was elected President, but he quickly faced pressure from competing factors. Orozco urged social reform and the nationalization of Mexico’s railroads, while Zapata met with Madero to advocate for the immediate redistribution of stolen lands. Zapata, angered by Madero’s indifferent attitude towards land reform, rejected Madero’s request to disarm his guerillas.</p>
		</div>
	</div>
</div>