<h1 class="section-header" id="key-players-header">Key Players</h1>
<div class="row-container" id="network-container">
    <div id="zapata-network"></div>
    <div id="hover-and-profile">
        <p id="hover-to-see">Hover over or click on a person to find out who they were and their relationship to Zapata.</p>
        <div id="profile-container">
            <div id="profile-img-container">
                <img id="profile-img">
                <p id="profile-name"></p>
            </div>
            <div id="profile-text-container">
                <p class="normal-p white-bg white-bg-text profile-text" id="profile-desc"></p>
                <p class="normal-p white-bg white-bg-text profile-text" id="profile-relationship-text"><i>Relationship:</i> <span id="profile-relationship"></span></p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../assets/js/network.js"></script>
</div>