<h1 class="section-header white-bg-header">Plan de Ayala</h1>

<div class="row-container" id="plan-image-container">
	<div class="image-hover-container" id="plan-de-ayala-pic-container" data-aos="fade-right" data-aos-duration="1000">
		<img class="image-hover-img" id="plan-img" src="/assets/images/zapata_staff_plan_de_ayala.jpeg">
		<div class="overlay">
			<div class="overlay-text" id="zapata-overlay-text">Zapata and staff after writing the Plan de Ayala</div>
		</div>
	</div>
	<p class="normal-p white-bg" id="plan-intro"  data-aos="fade-left" data-aos-duration="1000">Zapata was enraged by Madero’s betrayal. In response, he drafted the <i>Plan de Ayala</i>, a manifesto illuminating his philosophy of agrarian reform. The Plan drew widespread support among peasant groups, prompting many laborers from Southern Mexico to join Zapata’s army. Zapata and his supporters - Zapatistas - used the Plan to determine who they could trust. Anyone who would not agree to the Plan would not receive Zapata’s support. However, most revolutionary leaders were not focused on land reform, making it difficult for Zapata to form alliances.</p>
</div>
<div class="row-container plan-row-container">
	<p class="white-bg quote quote-dark quote-left" data-aos="flip-down" data-aos-duration="1000">“having no intentions other than satisfying his personal ambitions, his boundless instincts as a tyrant...“</p>
	<div class="plan-desc-container">
		<div class="title-container plan-title-container">
			<p class="title1 white-bg plan-title1">one</p>
			<p class="title2 white-bg plan-title2">Madero</p>
		</div>
		<p class="normal-p white-bg">The Plan accused Madero of failing to carry out the promises he had made during the revolution. It said Madero had preserved key elements of Díaz’s corrupt regime, and Madero, like Díaz, had no respect for the Constitution of 1857. The Plan declared the new focus of the revolution to overthrow the  “dictatorial elements of Porfirio Díaz and Francisco I. Madero”. Anyone who fought for the revolution were to help overthrow Madero, or be considered enemies.</p>
	</div>
</div>
<div class="row-container plan-row-container row-container-reverse">
	<p class="white-bg quote quote-dark quote-left" data-aos="flip-down" data-aos-duration="1000">“recognized as Chief of the Liberating Revolution is the illustrious General Pascual Orozco..”</p>
	<div class="plan-desc-container">
		<div class="title-container plan-title-container">
			<p class="title1 white-bg plan-title1">two</p>
			<p class="title2 white-bg plan-title2">Orozco</p>
		</div>
		<p class="normal-p white-bg">The Plan appointed Orozco as the Chief of the Revolution, and in case Orozco did not accept the post, Zapata was to assume the position of leader of the revolution.</p>
	</div>
</div>
<div class="row-container plan-row-container">
	<p class="white-bg quote quote-dark quote-left" data-aos="flip-down" data-aos-duration="1000">“citizens are owners of no more than the land they walk on, suffering the horrors of poverty...”</p>
	<div class="plan-desc-container">
		<div class="title-container plan-title-container" id="plan-title-container-3">
			<p class="title1 white-bg plan-title1">three</p>
			<p class="title2 white-bg plan-title2">land reform</p>
		</div>
		<p class="normal-p white-bg">Zapata called for all lands stolen under Diaz to be immediately returned to the citizens from whom the land was stolen. Large plantations, owned by single family, would have one third of their land nationalized, to be given to poor farmers. Those who resisted would have the rest expropriated.</p>
	</div>
</div>