<h1 class="section-header dark-bg-header">Zapata's Idealism</h1>
<div id="card-holder">
	<div class="col col1">
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image" src="/assets/images/liberation_army.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">The Liberation Army of the South</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">The Zapatistas</h2>
				<p class="normal-p dark-bg-text card-text">Zapata’s followers were mainly peasants who avoided battle by adopting guerrilla tactics. As a result, Zapata’s army had few trained soldiers and often lacked sufficient ammunition. Many of his followers would fight for months at a time, then return home for the rest of the year to produce an income. Zapata’s army gained resources by imposing taxes on provincial cities and raiding national institutions and the federal army.</p>
			</div>
			<p class="quote background-quote quote-light" id="quote-1">"Tierra y Libertad!"</p>
		</div>
		<div class="card">
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image" src="/assets/images/campesinos_on_move.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">Zapata's Campesinos</div>
				</div>
			</div>
			<div class="card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">Agrarian Reform</h2>
				<p class="normal-p dark-bg-text card-text">Throughout the revolution, Zapata continued to push for land reform. He created agrarian commissions to redistribute land, devoting considerable time to supervising their work to eliminate favoritism and corruption. The commissions were composed of engineers, many students from the National School of Agriculture. Though these engineers sometimes clashed with local villagers, Zapata resolved disputes with his reserved and cautious personality. He also established the Rural Loan Bank, Mexico’s first agricultural credit organization.</p>
			</div>
			<p class="quote background-quote quote-light" id="quote-3">"Mejor morir a pie que vivir en rodillas!"</p>
		</div>
	</div>
	<div class="col col2">
		<div class="card">
			<p class="quote background-quote quote-light" id="quote-2">"La tierra es para el que la trabaja!"</p>
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image" src="/assets/images/soldadera.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">A Zapatista Soldadera</div>
				</div>
			</div>
			<div class="card-body" id="soldadera-card-body" data-aos="fade-up" data-aos-duration="1000">
				<h2 class="title dark-bg-text card-title">Soldaderas</h2>
				<p class="normal-p dark-bg-text card-text">Though other armies had soldaderas (women soldiers), Zapata’s army was notable for the sheer number of soldaderas who fought and held ranking positions. </p>
			</div>
			<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
				<img class="image-hover-img card-image" src="/assets/images/soldadera-2.jpg" alt="Card image cap">
				<div class="overlay">
					<div class="overlay-text">A Zapatista Soldadera</div>
				</div>
			</div>
		</div>
	</div>
</div>