<h1 class="section-header" id="spark-header">The Spark</h1>
<div id="map-constraint">
<div id="map">
	<div id="map-container">
		<div class="map-base">
			<img src="/assets/images/mexico_map.png" width="520"/>
		</div>
		<div class="pop-container" id="pop-container-1">
			<div class="dot" id="dot-1"></div>
			<div class="gone" id="gone-1">
				<p>The first two shots of the revolution were fired in Puebla, two days early, when a dissident politician and his family started a firefight with the Mexican police.</p>
			</div>
		</div>
		<div class="pop-container" id="pop-container-2">
			<div class="dot" id="dot-2"></div>
			<div class="gone" id="gone-2">
				<p>Madero escaped to San Antonio, where he wrote Plan de San Luis Potosi.</p>
			</div>
		</div>
		<!-- <div class="pop-container" id="pop-container-3">
			<div class="dot" id="dot-3"></div>
			<div class="gone" id="gone-3">
				<p>Donec sed odio dui. Donec sed odio dui.</p>
			</div>
		</div> -->
	</div>
</div>
</div>
<div id="spark-all-text-container">
	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">north</p>
			<p class="title2 spark-title2" id="spark-1">1910 election</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br><br>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
	</div>
	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">south</p>
			<p class="title2 spark-title2" id="spark-2">madero's election</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br><br>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
	</div>
<!-- 	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">east</p>
			<p class="title2 spark-title2" id="spark-3">madero's election</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.<br><br>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
	</div> -->
</div>