<h1 class="section-header" id="spark-header">The Spark</h1>
<div id="map-constraint">
<div id="map">
	<div id="map-container">
		<div class="map-base">
			<img src="/assets/images/mexico_map.png" width="520"/>
		</div>
		<div class="pop-container" id="pop-container-1">
			<div class="tooltip" id="tooltip-1">
				<p>Madero was released here after being jailed by Díaz.</p>
			</div>
		</div>
		<div class="pop-container" id="pop-container-2">
			<div class="tooltip" id="tooltip-2">
				<p>Madero sought refuge here and drafted his revolutionary manifesto, the Plan de San Luis Potosi.</p>
			</div>
		</div>
		<div class="pop-container" id="pop-container-3">
			<div class="tooltip" id="tooltip-3">
				<p>The first shots of the revolution were fired here, two days early, in a firefight between a politician and the Mexican police.</p>
			</div>
		</div>
	</div>
</div>
</div>
<div id="spark-all-text-container">
	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">jail</p>
			<p class="title2 spark-title2" id="spark-1">1910 election</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">Díaz had told a journalist in 1908 that he would retire at the end of his term in 1910, allowing Mexico to hold free elections. Despite this earlier announcement, Díaz ran for reelection. When Francisco I. Madero emerged as a major contender for the presidency, Díaz imprisoned him and was elected to another term. Díaz then released Madero in San Luis Potosí, who took a train to the United States.</p>
		</div>
	</div>
	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">escape</p>
			<p class="title2 spark-title2" id="spark-2">Plan de San Luis Potosi</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">In October, Madero drafted the Plan de San Luis Potosi, where he rejected the outcome of the 1910 election. He called for the Mexican people to rise up and replace Díaz with a provisional government on November 20, a day he marked as the start of the Revolution. His document was widely distributed and enthusiastically received. Zapata, lured by promises of land reform, formed an uneasy alliance with Madero.</p>
		</div>
	</div>
	<div class="spark-indv-text-container">
		<div class="spark-title-container">
			<p class="title1 spark-title1">rise up</p>
			<p class="title2 spark-title2" id="spark-3">the revolution begins</p>
		</div>
		<div>
			<p class="white-bg-text spark-desc-text">On November 20, Madero and his band of rebels entered the country, but did not find the mass uprising they had anticipated. In the week following, small bands of rebel groups flocked to the north, looking to the join the revolution. Though some who came to fight had been inspired by the Plan de San Luis Potosi, many had never heard of Madero to begin with. Over the next decade, thousands of Mexicans would flee to El Paso and the US to escape the violence.</p>
		</div>
	</div>
</div>