<h1 class="section-header dark-bg">The Spark</h1>
<div>
	<div id="map-constraint">
		<div id="map">
			<div id="map-container">
				<div class="map-base">
					<img id="map-image" src="/assets/images/mexico_map.png" width="520"/>
				</div>
				<div class="pop-container" id="pop-container-1">
					<!-- San Luis Potosi -->
					<div class="tooltip" id="tooltip-1">
						<p>Madero was released here after being jailed by Díaz.</p>
					</div>
				</div>
				<div class="pop-container" id="pop-container-2">
					<!-- San Antonio, TX -->
					<div class="tooltip" id="tooltip-2">
						<p>Madero sought refuge here and drafted his revolutionary manifesto, the Plan de San Luis Potosi.</p>
					</div>
				</div>
				<div class="pop-container" id="pop-container-3">
					<!-- Pueblo -->
					<div class="tooltip" id="tooltip-3">
						<p>The first shots of the revolution were fired here, two days early, in a firefight between a politician and the Mexican police.</p>
					</div>
				</div>
				<div class="pop-container" id="pop-container-4">
					<!-- Cuautla -->
					<div class="tooltip" id="tooltip-4">
						<p>The Liberation Army of the South captured Cuautla after a six-day battle.</p>
					</div>
				</div>
				<div class="pop-container" id="pop-container-5">
					<!-- Cuautla -->
					<div class="tooltip" id="tooltip-5">
						<p>Madero triumphantly entered Mexico City after Díaz's forces were defeated.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="spark-all-text-container">
		<div class="spark-indv-text-container">
			<div class="title-container spark-title-container">
				<p class="title1 dark-bg spark-title1">jail</p>
				<p class="title2 dark-bg spark-title2">The 1910 election</p>
			</div>
			<div>
				<p class="normal-p dark-bg dark-bg-text spark-desc-text">In 1908, Díaz announced his intention to retire at the end of his term, allowing Mexico to hold free elections. Despite this, Díaz ran for reelection in 1910, and when Francisco I. Madero emerged as a major contender for the presidency, Díaz imprisoned him. Díaz was elected to another term, and released Madero in San Luis Potosí, who took a train to the United States.</p>
				<span id="spark-1"></span>
			</div>
		</div>
		<div class="spark-indv-text-container">
			<div class="title-container spark-title-container">
				<p class="title1 dark-bg spark-title1">escape</p>
				<p class="title2 dark-bg spark-title2">Plan de San Luis Potosi</p>
			</div>
			<div>
				<p class="normal-p dark-bg dark-bg-text spark-desc-text">In October, Madero drafted the <i>Plan de San Luis Potosi</i>, in which he rejected the outcome of the 1910 election. He called for the Mexican people to rise up and replace Díaz with a provisional government on November 20, a day he marked as the start of the Revolution. His document was widely distributed and enthusiastically received. Zapata, lured by promises of land reform, formed an uneasy alliance with Madero.</p>
				<span id="spark-2"></span>
			</div>
		</div>
		<div class="spark-indv-text-container">
			<div class="title-container spark-title-container">
				<p class="title1 dark-bg spark-title1">rise</p>
				<p class="title2 dark-bg spark-title2">the revolution begins</p>
			</div>
			<div>
				<p class="normal-p dark-bg dark-bg-text spark-desc-text">On November 20, Madero and his band of rebels entered the country, but did not find the mass uprising they had anticipated. In the week following, small bands of rebel groups flocked to the north, looking to the join the revolution. Though some who came to fight had been inspired by the <i>Plan de San Luis Potosi</i>, many had never heard of Madero at all. Over the next decade, thousands of Mexicans would flee to the US to escape the violence.</p>
				<span id="spark-3"></span>
			</div>
		</div>
		<div class="spark-indv-text-container">
			<div class="title-container spark-title-container">
				<p class="title1 dark-bg spark-title1">war</p>
				<p class="title2 dark-bg spark-title2">Diaz Resigns</p>
			</div>
			<div>
				<p class="normal-p dark-bg dark-bg-text spark-desc-text">The highly charismatic Zapata began recruiting thousands of peasants to fight for land reform. Zapata assumed the role of general in this new army, the <i>Ejército Libertador del Sur</i> (Liberation Army of the South). From March to May of 1911, his army fought for Madero’s cause, capturing Cuautla after a six-day battle with federal forces. In May, Madero’s forces, commanded by northerners Francisco Pancho Villa and Pascual Orozco, defeated Díaz in the First Battle of Juárez. Díaz resigned and fled the country.</p>
				<span id="spark-4"></span>
			</div>
		</div>
		<div class="spark-indv-text-container">
			<div class="title-container spark-title-container">
				<p class="title1 dark-bg spark-title1">win?</p>
				<p class="title2 dark-bg spark-title2">madero elected president</p>
			</div>
			<div>
				<p class="normal-p dark-bg dark-bg-text spark-desc-text">Between May and November, an interim government was established under Francisco León de la Barra, a former diplomat. On November 6th, Madero was elected President, but he quickly faced pressure from competing factors. Orozco urged social reform and the nationalization of Mexico’s railroads, while Zapata met with Madero to advocate for the immediate redistribution of stolen lands. Zapata, angered by Madero’s indifferent attitude towards land reform, rejected Madero’s request to disarm his guerillas.</p>
				<span id="spark-5"></span>
			</div>
		</div>
	</div>
</div>