<div class="timeline-container" id="timeline-1">
	<h1 class="section-header dark-bg-header" id="early-years-header">Early years</h1>
	<div class="timeline">
		<div class="timeline-item timeline-item--active" data-text="1879">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<!-- Hacienda Santa Inés en Cuautla, Morelos -->
					<img class="timeline__img image-hover-img" src="/assets/images/birthplace.jpg" />
					<div class="overlay">
						<div class="overlay-text">The Zapata Family House <br>(now a museum).</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Birth in Anenecuilco, Morelos</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Emiliano was born to Gabriel Zapata, a <i>mestizo</i> peasant who trained and sold horses, and Cleofas Jertrudiz Salazar. He eventually had three brothers, Eufemio, Pedro, and Loreto, and six sisters, Matilde, Jovita, Maria de Jesus, Celsa, Maria del la Luz and Romana.</p>
			</div>
		</div>
		<div class="image-hover-container" data-aos="flip-down" data-aos-duration="1000">
			<img class="timeline__img image-hover-img" id="morelos-map-img" src="/assets/images/morelos_map.jpg">
			<div class="overlay" id="morelos-overlay">
				<div class="overlay-text">Map of Morelos, Zapata's Birthplace</div>
			</div>
		</div>

		<div class="timeline-item timeline-item--active" data-text="1895">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<h2 class="timeline__content-subtitle">Orphaned</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Zapata’s father passed away at age 16. His mother died 11 months later, leaving him to support of his many siblings.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="1897">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<h2 class="timeline__content-subtitle">Arrested for protesting</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">At age 18, Zapata was arrested for taking part in peasant protest against a hacienda which had appropriated their lands.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="~1900">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/army.jpg" />
					<div class="overlay">
						<div class="overlay-text">Mexican Cadets in 1910</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Drafted into Mexican Army</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">After obtaining a pardon, Zapata was drafted into the Mexican army, but served only six months. He was discharged to a landowner in Mexico City to train horses, a skill he had gained from his father.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="1909">
			<div class="timeline__content" data-aos="fade-left" data-aos-duration="1000">
				<h2 class="timeline__content-subtitle">Elected Council Board President of Anenecuilco</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">Zapata campaigned for villager’s rights and oversaw the return of land, using old title deeds to establish claims to disputed land. Dissatisfied with the government’s slow pace and favoritism towards wealthy landowners, Zapata began redistributing land by force.</p>
			</div>
		</div>
		<div class="timeline-item timeline-item--active" data-text="1910">
			<div class="timeline__content" data-aos="fade-right" data-aos-duration="1000">
				<div class="image-hover-container">
					<img class="timeline__img image-hover-img" src="/assets/images/josefa_and_emiliano.jpg" />
					<div class="overlay">
						<div class="overlay-text">Josefa and Emiliano</div>
					</div>
				</div>
				<h2 class="timeline__content-subtitle">Married Josefa Espejo</h2>
				<p class="normal-p dark-bg dark-bg-text timeline__content-desc">At age 31, he married Josefa Epejo. He eventually had four children: Diego, Mateo Emiliano, Nicolas, and Ana Maria.</p>
			</div>
		</div>
	</div>
</div>
</div>