/*--------------
	BACKGROUND
--------------*/
#section2 {
  overflow: hidden;
  padding-bottom: 7%;
  background: url("/assets/images/railroad.jpg");
  background-attachment: fixed;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2-header {
	margin-bottom: 5%;
}

#diaz-reasons {
	margin: 0 auto;
  left: 50%;
  width: 80%;

  @media only screen and (min-width : 992px) {
  	width: 70%;
  }

  @media only screen and (min-width : 1200px) {
  	width: 60%;
  }
}

.diaz-reason {
	display: flex;
	flex-direction: row;
	margin-top: 30px;

  @media only screen and (max-width : 768px) {
    flex-direction: column;
  }
}

#diaz-reason-2 {
	flex-direction: row-reverse;
	@media only screen and (max-width : 768px) {
    flex-direction: column;
  }
}

#diaz-reason-title2-2 {
	text-align: left;
}

.diaz-reason-text {
	/*align-self: center;*/
}

#diaz-reason-text-2 {
  @media only screen and (min-width : 768px) {
    margin-right: 30px;
  }
}

#diaz-zapata-birth-container {
	width: 90%;
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    width: 40%;
  }
}

#diaz-zapata-birth {
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: 10%;
	font-size: 20px;
	line-height: 30px;
}