/*--------------
	BACKGROUND
--------------*/
#section2 {
  overflow: hidden;
  padding-bottom: 7%;
  background: url("/assets/images/railroad.jpg");
  background-attachment: fixed;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2-header {
	margin-bottom: 5%;
}

#diaz-img-container {
	margin-bottom: 30px;
}

#diaz-img {
	box-shadow: 10px 10px rgba(216,216,216,0.50);
	width: 300px;
}

#diaz-img-name {
	margin-top: 30px;
	font-family: 'Pathway Gothic One';
	font-size: 48px;
	color: #000000;
	letter-spacing: -0.9px;
	text-align: center;
	text-transform: uppercase;
}

#diaz-img-date {
	text-align: center;
	margin-top: 15px;
	font-family: 'Cardo';
}

#diaz-desc-text {
	/*margin-top: 4%;*/
}

#diaz-reasons {
	margin: 0 auto;
  left: 50%;
  width: 90%;

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	width: 70%;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	width: 60%;
    }
}

.diaz-reason {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

#diaz-reason-2 {
	flex-direction: row-reverse;
}

#diaz-reason-title2-2 {
	text-align: left;
}

.diaz-reason-text {
	align-self: center;
	/*width: 400px;*/
}

#diaz-reason-text-2 {
	text-align: left;
	margin-right: 30px;
}

#diaz-zapata-birth-container {
	width: 60%;
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    width: 50%;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    width: 40%;
  }
}

#diaz-zapata-birth {
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: 10%;
	font-size: 20px;
	line-height: 30px;
}