/*--------------
		BIG FOUR
--------------*/

#section5 {
	background: url("/assets/images/pic.jpg");
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#card-holder {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.card {
	width: 20%;
	margin: 0 1.25%;
	height: 100%;
	padding: 20px;
	/*align-self: center;*/
}

.section-header {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
  font-size: 72px;
  letter-spacing: 0;
}

#bigfour-header {
	color: #FFF;
}

.card-title {
	color: #FFF;
	font-family: 'Pathway Gothic One';
	text-transform: uppercase;
	font-size: 30px;
	text-align: left;
	margin-bottom: 15px;
}

.card-text {
	font-family: 'Cardo';
	font-size: 14px;
	color: #F5F5F5;
	text-align: left;
	line-height: 23px;
	width: 95%;
}

.card-img-top {
	width: 100%;
	height: 250px;
	margin-bottom: 20px;
	object-fit: cover;
}