#section9 {
  padding: 0;
}

#myVideo {
    /*position: absolute;
    right: 0;
    bottom: 0;*/
    min-width: 100%; 
    min-height: 100%;
}

#timeline-2 {
	background: url("/assets/images/civil_war.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

