html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}
.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centered-text-container {
  margin: 0 auto;
  
  text-align: center;

  p {
    width: auto;
  }

}

.section-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
  font-size: 72px;
  letter-spacing: 0;
}

#mobile-warning {
  background-color: #F6F6F6;
  overflow: hidden;
  min-height: 100%; /*800px;*/
  position: relative;
  padding: 2em 0;
  @media only screen and (min-width : 768px) {
    display: none;
  }
}

#mobile-warning-text {
  text-align: center;
  font-family: 'Cardo';
  justify-content: center;
  align-self: center;
  color: black;
  font-size: 30px;
}

/* Intro */
#section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/independence.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#section1-center {
  font-size: 24px;
  line-height: 40px;
  width: 70%;
  color: #F8F8F8;
}

.section-center {
  color: white;
  font-family: 'Cardo';
  position: absolute;
  left: 50%;
  top: 47%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
}

.dark-bg-header {
  color: white;
  background-color: transparent;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s linear;
  background-color: #000;
}

.overlay-text {
  position: absolute;
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family: 'Pathway Gothic One';
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  width: 90%;
}

.image-hover-container {
  position: relative;
  width: 100%;
}

.image-hover-img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-hover-container:hover .overlay {
  opacity: 0.7;
}

.row-container-reverse {
  flex-direction: row-reverse !important;
}
