html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  
}

.vertical-center {
	display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

