/*HEADER*/

header {	
	background: url("/assets/images/zapata.jpeg") no-repeat;
	background-position: 0% 50%;
	background-size: 116%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-filter: saturate(0.57);
	-moz-filter: saturate(0.57);
	-o-filter: saturate(0.57);
	-ms-filter: saturate(0.57);
	filter: saturate(0.57);
}

#header {
	@media only screen and (max-width : 768px) {
    	display: none;
  	}
}

.wrapper {
	width: 85%;
	margin: 0 auto;
	margin-top: 7%;
	/*display: flex;*/
	/*flex-direction: row;*/
}

#name {
	font-family: 'Pathway Gothic One';
	font-size: 120px;
	color: #000;
	letter-spacing: 0;
	line-height: 105px;
	text-transform: uppercase;
}

#name-description {
	font-family: 'Cardo';
	font-size: 18px;
	color: #454545;
	text-align: left;
	line-height: 30px;
	width: 40%;
	margin: 5% 0 7%;
}

#begin-button {
	/* Rectangle: */
	border: 2px solid #454545;
	/* BEGIN: */
	font-family: 'Pathway Gothic One';
	text-transform: uppercase;
	font-size: 22px;
	color: #454545;
	padding: 10px 80px 16px;
	text-align: center;
	&:hover {
		transition: background-color 0.5s ease;
		background: rgba(0,0,0,0.10);
	};
}

#header-text {
	z-index: 100;
}
#header-img {
	flex: 1;
	margin-bottom: -50%;
	margin-left: 50%;
	z-index: 0;
}