/* Intro */
#section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/independence.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Background Diaz */
#section2 {
  overflow: hidden;
  padding-bottom: 12%;
  background: url("/assets/images/railroad.jpg");
  background-attachment: fixed;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Timeline */
#section3 {
  padding: 0;
}

/* The Spark */
#section4 {
  background-color: white;
  min-height: 220%;
}

.section-center {
  color: white;
  font-family: 'Cardo';
  position: absolute;
  left: 50%;
  top: 47%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  text-align: center;
}

#section1-center {
	font-size: 24px;
	line-height: 36px;
  width: 70%;
}


.dark-bg-header {
	color: white;
	background-color: transparent;
}

.title1 {
  /* ONE: */
  opacity: 0.10;
  font-family: HarrietDisplay-BoldItalic;
  font-size: 110px;
  color: #000000;
  letter-spacing: -2.7px;
  text-transform: uppercase;
}

.title2 {
  /* CORRUPTION: */
  font-family: 'Pathway Gothic One';
  font-size: 35px;
  color: #000000;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin-top: -35px;
  text-align: right;
}

.title-container {
  display: flex;
  flex-direction: column;
}