#section8 {
	background-color: white;
}

.huerta-row-container {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 75%;
	justify-content: space-between;
}


.huerta-desc-text {
	margin: 0;
	margin-top: 15px;
}

.image-right {

}

.image-left {
}

.huerta-image {
	/*position: relative;*/
	width: 45%;
	/*height: 100%;*/
	height: auto;
	margin-right: 50px;
	/*background-position: fixed;*/
}

.huerta-image img {
	object-fit: cover;
}

