#section8 {
	background-color: white;
}

.huerta-row-container {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 75%;
	justify-content: space-between;
}


.huerta-desc-text {
	margin: 0;
	margin-top: 15px;
}

.image-right {

}

.image-left {
}

.huerta-image {
	/*position: relative;*/
	@media only screen and (max-width : 992px) {
		margin-bottom: 30px;
	}
	@media only screen and (min-width : 992px) {
		width: 45%;
		margin-right: 50px;
	}
	height: auto;
}

.huerta-image img {
	object-fit: cover;
}

