#section4-mobile {
	background-color: white;
	@media only screen and (min-width : 992px) {
		display: none;
	}
}

.profile-container {
	margin: 0 auto;
	

	@media only screen and (min-width : 500px) {
		width: 70%;
}

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
  	width: 70%;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
  	width: 60%;
  }
}

.profile-img-container {
	margin-bottom: 30px;
	justify-content: center;
}

.profile-img {
	box-shadow: 10px 10px rgba(216,216,216,0.50);
	width: 275px;
	display: block;
  margin: 0 auto;
  @media only screen and (max-width : 768px) {
  	margin-top: 50px;
  }
}

.profile-img-name {
	margin-top: 30px;
	font-family: 'Pathway Gothic One';
	font-size: 48px;
	color: #000000;
	letter-spacing: -0.9px;
	text-align: center;
	text-transform: uppercase;
}

.profile-img-date {
	text-align: center;
	margin-top: 15px;
	font-family: 'Cardo';
}

.profile-desc-text {
	@media only screen and (max-width : 768px) {
		text-align: center;
    	/*margin: 0;*/
  }
}