#section11 {
	background: url("/assets/images/zapatistas_bg.jpg");
  	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text-no-title {
	margin-top: 30px;
}

#orozco-painting {
	margin-top: 40px;
	filter: saturate(0);
}