#section6 {
  background-color: white;
  min-height: 800px;
}

#key-players-header {
	margin: 6% 0% 2%;
}

#zapata-network {
  height: 400px;
  margin-top: 2%;
  /*margin-left: 6%;*/
  flex: 1;
  margin-right: -5%;
}

#network-container {
	justify-content: space-between;
}

#profile-container {
	margin-right: 5%;
	opacity: 0;
	transition: .5s ease;
	display: flex;
	margin-top: -180px;
	/*box-shadow: 0.5px 0.5px 20px #CECECE;*/
}

#hover-and-profile {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#hover-to-see {
	transition: .5s ease;
	margin-top: 150px;
	font-family: 'Pathway Gothic One';
	font-size: 30px;
	text-transform: uppercase;
	width: 460px;
	color: #9B9B9B;
}

#profile-img {
	height: 250px;
	width: 200px;
	object-fit: cover;
	box-shadow: 10px 10px rgba(216,216,216,0.50);
}

#profile-name {
	font-family: 'Pathway Gothic One';
	text-transform: uppercase;
	font-size: 30px;
	padding: 30px 0px;
	text-align: center;
}

#profile-relationship-text {
	margin-top: 15px;
}
.profile-text {
	margin-top: 0;
	width: 80%;
}