#section6 {
	background: url("/assets/images/ayala_bg.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#plan-image-container {
	width: 90%;
	margin: 0 auto;
	margin-top: 5%;
}


#plan-intro {
	margin-top: 2%;
	@media only screen and (max-width : 768px) {

	}
	margin-left: 2%;
}

.plan-title-container {
	margin-bottom: 3%;
}

#plan-title-container-3 {
	/*margin-top: 15%;*/
}

.plan-desc-container {
	align-self: center;
}

.plan-title2 {
	text-align: left;
}


.quote-left {
	@media only screen and (min-width : 768px) {
		margin-right: 5%;
	}
}

.quote-right {
	@media only screen and (min-width : 768px) {
		margin-left: 5%;
	}
}


.plan-row-container {
	display: flex;
	flex-direction: row;
	@media only screen and (max-width : 992px) {
		width: 80%;
		margin: 0 auto;
		display: block;
	}	
	margin: 5% 0%;
}

#plan-de-ayala-pic-container {
	height: 340px;
    @media only screen and (max-width : 768px) {
    	width: 80%;	
    	object-fit: cover;
    }
    align-self: center;
    @media only screen and (min-width : 768px) {
		margin-right: 2%;
	}
}
