#section4 {
  background-color: white;
  min-height: 1700px;
  padding-bottom: 0;
}

#spark-header {
    margin: 4% 0 6%;
}

/* MAP */
#map-constraint {
    /* update spark-all-text-container as height changes */
    /* also, update section4 px height */
    height: 900px;
}

#map {
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      margin-left: 5%;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      margin-left: 10%;
    }
}

#map-container {
    position:relative;
    width: 960px;
}

.map-base {
    position: absolute;
    margin-bottom: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #D0021B;
    z-index: 10;
    border-radius: 50%;
}
.tooltip {
	position:absolute;
    opacity: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0.5px 0.5px 20px #CECECE;
    transition: opacity .5s ease;
    font-family: Cardo;
    font-size: 14px;
    line-height: 18px;
    z-index: 1000;
    width: 200px;
}
.tooltip p::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.dot:hover + .tooltip { 
    opacity: 1;
}

.pop-container {
	position: absolute;
	display: inline-block;
}

#pop-container-1 {
    /* positions container */
    top: 185px;
    left: 185px;   
}

#pop-container-2 {
    /* positions container */
    top: -60px;
    left: 225px;
}

#pop-container-3 {
    /* positions container */
    top: 205px;
    left: 230px;
}

/* TEXT */

#spark-all-text-container {
	margin-top: -900px;
	width: 47%;
	float: right;
}

.spark-indv-text-container {
	margin-bottom: 25%;
}

.spark-title-container{
	min-width: 50px;
	margin-left: 50px;
}

.spark-title2 {
	text-align: left;
}

.spark-desc-text {
	margin-bottom: 5%;
}