#section5 {
    background: url("/assets/images/spark.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

/* MAP */
#map-constraint {
    /* update spark-all-text-container as height changes */
    /* also, update section4 px height */
    height: 1800px;
}

#map {
    @media only screen and (max-width : 992px) {
        display: none;
    }
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      margin-left: 5%;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      margin-left: 7%;
    }
}

#map-container {
    position:relative;
    width: 960px;
}

.map-base {
    position: absolute;
    margin-bottom: 100px;
}

#map-image {
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #D0021B;
    z-index: 10;
    border-radius: 50%;
}
.tooltip {
	position:absolute;
    opacity: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0.3px 0.3px 20px #AAAAAA;
    transition: opacity .5s ease;
    font-family: Cardo;
    font-size: 14px;
    line-height: 18px;
    z-index: 1000;
    width: 200px;
}
.tooltip p::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.dot:hover + .tooltip { 
    opacity: 1;
}

.pop-container {
	position: absolute;
	display: inline-block;
}

#pop-container-1 {
    /* positions container */
    top: 185px;
    left: 185px;   
}

#pop-container-2 {
    /* positions container */
    top: -60px;
    left: 225px;
}

#pop-container-3 {
    /* positions container */
    top: 205px;
    left: 230px;
}

#pop-container-4 {
    /* positions container */
    top: 230px;
    left: 210px;
}

#pop-container-5 {
    /* positions container */
    top: 225px;
    left: 210px;
}

/* TEXT */

#spark-all-text-container {
	margin-top: -1800px;
    @media only screen and (min-width : 320px) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width : 992px) {
        width: 45%;
        float: right;
    }
}

.spark-indv-text-container {

    @media only screen and (max-width : 992px) {
        margin: 0 auto;
    }

    @media only screen and (min-width : 992px) {
        margin-bottom: 25%;
        margin-left: 50px;
    }

}

.spark-title-container{
	
}

.spark-title1 {
    opacity: 0.5;
}

.spark-desc-text {
    margin: 15px 0 5% 0px;
    width: 100%;
    @media only screen and (min-width : 992px) {
        margin-left: 0px;
        width: 500px;
    }

    @media only screen and (min-width : 992px) and (max-width : 1200px) {
        width: 380px;
    }
}

#section4-last {
    background: white;
    padding: 5% 0% 7%;
    min-height: 3%;
}

#madero-newspaper-container {
    height: 340px;
    width: 457px;
    align-self: center;
    margin-right: 2%;
}