#section4 {
  background-color: white;
  min-height: 190%;
  padding-bottom: 0;
}

#spark-header {
    margin-bottom: 10%;
}

/* MAP */
#map-constraint {
    /* update spark-all-text-container as height changes */
    height: 600px;
}

#map {
	margin-left: 10%;
}

#map-container {
    position:relative;
    width: 960px;
}

.map-base {
    position: absolute;
    margin-bottom: 100px;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #D0021B;
    z-index: 10;
    border-radius: 50%;
}
.gone {
	position:absolute;
    opacity: 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0.5px 0.5px 20px #CECECE;
    transition: opacity .5s ease;
    font-family: Cardo;
    font-size: 14px;
    line-height: 18px;
}

.dot:hover + .gone { 
    opacity: 1;
}

.pop-container {
	position: absolute;
	display: inline-block;
}

#gone-1 {
	width: 200px;
    margin-top: -180px;
    margin-left: -100px;
}

#pop-container-1 {
    /* positions dot */
    top: 245px;
    left: 315px;
}

#gone-2 {
	width: 200px;
    margin-top: -120px;
    margin-left: -100px;
}

#pop-container-2 {
    /* positions dot */
    top: 50px;
    left: 350px;
}

#gone-3 {
	width: 200px;
    margin-top: -120px;
    margin-left: -100px;
}

#pop-container-3 {
    /* positions dot */
    top: 100px;
    left: 300px;
}

/* TEXT */

#spark-all-text-container {
	margin-top: -600px;
	width: 47%;
	float: right;
}

.spark-indv-text-container {
	margin-bottom: 25%;
}

.spark-title-container{
	min-width: 50px;
	margin-left: 50px;
}

.spark-title2 {
	text-align: left;
}

.spark-desc-text {
	margin-bottom: 5%;
}