/* --------- */
/* TIMELINE */
/* --------- */
#section3 {
  padding: 0;
}

#early-years-header {
  /* DO NOT CHANGE */
  margin-bottom: 10%;
  margin-top: 0%;
}

#timeline-1 {
  background: url("/assets/images/pic.jpg");
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0 0;
  /*transition: 0.3s ease 0s;*/
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(99, 99, 99, 0.8);*/
  content: "";
}

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;

}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  /*text-align: right;*/
}
.timeline__content-subtitle {
  font-weight: normal;
  font-size: 30px;
  margin: 15px 0px;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9;
  /*text-align: right;*/
}
.timeline__content-desc {
  margin: 0;
  box-sizing: border-box;
  /*width: 0;*/
  width: auto;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 10% 0 10%;
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 13px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
  font-weight: normal;
  font-size: 66px;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  font-size: 36px;
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  padding-right: 15px;
}

.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 0.9;
  
}

@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  filter: saturate(0);
  background: black;
  margin-bottom: 30px
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

#morelos-map-img {
  margin-bottom: 20%;
}

#morelos-overlay {
  height: 77%
}
